@model IEnumerable<Skiverleih.Model.ViewModels.RentVM.RentToCustomerVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArticleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RentedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReturnDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Available)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.RentalId }) |
        @Html.ActionLink("Details", "Details", new { id = item.RentalId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RentalId }) |
        @Html.ActionLink("Return", "Return", new { id = item.RentalId })
    </td>
</tr>
    }

</table>
